@model layout01.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoExpression</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Stock Level:</td>
                    <td>@switch((int)ViewBag.ProductCount)</td>
                </tr>
            </tbody>
        </table>
        <div data-discount="@ViewBag.ApplyDiscount">
            The containing element has data attributes
        </div>
        Discount : <input type="checkbox" checked="@ViewBag.ApplyDiscount" />
        Discount : <input type="checkbox" checked="@ViewBag.ApplyDiscount" />
        Discount : <input type="checkbox" checked="@ViewBag.ApplyDiscount" />
    </div>
</body>
</html>
