@model List<Practica7._1.Models.Tripulante>
@{
    Layout = "~/_LayoutPage2.cshtml";
}
<h2>TRIPULACION DEL BARCO @ViewBag.Barco</h2>
<br />
@Html.ActionLink("Atrás", "Index", "Barco")
<br />
<table border="1">
    <tr><th>Marinero</th><th>Cargo</th><th>Fecha T´titulo</th></tr>

    @foreach (Practica7._1.Models.Tripulante t in Model)
    {
        <tr>
            <td>@t.NombreTripulante</td>
            <td>@t.Cargo</td>
            <td>@t.FechaTituloNavegacion</td>
        </tr>
    }
</table>
<br />
