@model List<Practica7._1.Models.Barco>
@{
    Layout = "~/_LayoutPage2.cshtml";
}
<h2>Listado de Barcos</h2>
@Html.ActionLink("Principal", "Index", "Home")
<br />
<br />
<table border="1">
    <tr><th>Barco</th><th>Año</th><th>Coste</th><th>Ultima Reparación</th><th></th></tr>
    @foreach (Practica7._1.Models.Barco b in Model)
    {
        <tr>
            <td>@b.NombreBarco</td>
            <td>@b.AñoConstruccion</td>
            <td>@b.CosteConstruccion</td>
            <td>@b.FechaUltimaReparacion</td>
            <td>@Html.ActionLink("Ver Tripulación", "Index", "Tripulante", new { id = b.BarcoId, nombre=b.NombreBarco },null)</td>
        </tr>
    }
</table>
<br />

